{% extends "_base.html" %}
{% load static %}
{% block title %}
   {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <div id="sidebar">
        <h3>Categories</h3>
        <ul>
            <li {% if not collection %}class="selected"{% endif %}>
            <a href="{% url 'store:product_list' %}">All</a>
            </li>
            {% for c in collections %}
            <li {% if collection.slug == c.slug %}class="selected"
            {% endif %}>
            <a href="{{ c.get_absolute_url }}">{{ c.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="text-center">
        <div class="row">
            <div class="badge bg-primary mb-3">{{count}} {% if collection %} {{ collection.title }} {% endif %} Products</div>
        {% for product in products %}
            <div class="col-6 col-lg-4 col-xl-3">
                <a href="{{ product.get_absolute_url }}">
                <img  class="img-fluid" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                </a>
                <div>
                    <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                    <br>
                    ${{ product.unit_price }}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}