{% load static %}
<header class="py-3 mb-3 border-bottom">
  <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
    
    <a href="{% url 'store:product_list' %}" class="d-flex align-items-center col-lg-4 ms-4 link-body-emphasis text-decoration-none">
        <img src="{% static 'img/icon.png' %}" alt="mdo" width="50" height="50" class="rounded-circle">
    </a>

    <div class="d-flex align-items-center">
      <a href="{% url 'store:cart_detail' %}" type="button" class="btn btn-sm btn-outline-secondary position-relative mx-3">
        Cart
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ cart|length }}
        </span>
      </a>

      <form action="{% url 'store:product_search' %}" method="get" class="w-100 me-3" role="search">
        <input  name="query" class="form-control" placeholder="Search..." aria-label="Search">
      </form>
    </div>
  </div>
</header>