<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for product in products %}
  <div class="col">
    <div class="card">
      {% with product.images.first as first_image %} {% if first_image %}
      <img src="{{first_image.image}}" />
      {% endif %} {% endwith %}
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <h6 class="card-title">{{product.title}}</h6>
          </div>
          <div class="col-6">
            <p class="card-title">{{product.unit_price}}</p>
          </div>
        </div>
        <button
          hx-get="{% url 'add_to_cart' pk=product.id %}"
        
          class="btn btn-primary btn-sm"
        >
          add to cart
        </button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
